* {
    font-family: 'Arial', serif;
    border-radius: 10px;
}

div {
    padding: 4px;
}

button {

    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: gray;
}

select {
    border-radius: 10px;
}

li {
    margin: 10px;
}

#description-container {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#description-header-container {
    background-color: lightgray;
}

#description-header-container:hover {
    background-color: gray;
}

.slide-container {
    width: 100%;
}

.slider {
    width: 100%;
    height: 25px;
}

.start-button:hover {
    background-color: darkgray;
}

.start-button:focus {
    background-color: gray;
}

.stop-button:hover {
    background-color: darkgray;
}

.stop-button:focus {
    background-color: gray;
}

output {
    font-size: 72px;
}


#audio-options {
    font-size: 24px;
    height: 50px;
}

.same-line {
    display: inline-block;
}

#audio-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    background-color: lightgray;
    border-style: solid;
}

#audio-selection-container {
    padding: 10px;
}

#audio-label {
    order: 2;
    margin: 0 auto;
    text-align: center;
}

#audio-valence-container, #audio-measures-container {
    margin: 0 auto;
    width: 98%;
    height: 200px;
    overflow: scroll;
    overflow-wrap: break-word;
    border-style: solid;
    border-radius: 4px;
}

.restart-button {
    background-color: red;
    border-color: darkred;
}

.restart-button:hover {
    background-color: mediumvioletred;
}

.restart-button:focus {
    background-color: darkred;
}

/*#audio-info-container {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*}*/

#categorical-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

#hierarchy-labels {
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: right;
}

#hierarchy-labels > h2 {
    vertical-align: middle;
}

.primary-emotion {
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    font-size: 24px;
}

.emotion-container {
    height: 200px;
    /*display: grid;*/
    /*grid-template-rows: 2fr 1fr;*/
}

#anger {
    background-color: red;
    border-color: red;
}

#anger:hover {
    background-color: white;
}

#anger:focus {
    background-color: white;
}

#fear {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    color: lightgray;
}

#fear:hover {
    background-color: white;
    color: black;
}

#fear:focus {
    background-color: white;
    color: black;
}

#joy {
    background-color: yellow;
    border-color: yellow;
}

#joy:hover {
    background-color: white;
}

#joy:focus {
    background-color: white;
}

#love {
    background-color: hotpink;
    border-color: hotpink;
}

#love:hover {
    background-color: white;
}

#love:focus {
    background-color: white;
}

#sadness {
    background-color: blue;
    border-color: blue;
    color: lightgray;
}

#sadness:hover {
    background-color: white;
    color: black;
}

#sadness:focus {
    background-color: white;
    color: black;
}

#irony {
    background-color: gray;
    border-color: gray;
}

#irony:hover {
    background-color: white;
}

#irony:focus {
    background-color: white;
}

#current-category {
    font-size: 24px;
    padding-left: 10px;
}
#category-large-container {
    background-color: lightgray;
    border-style: solid;
}

hr {
    border: 1px solid black;
}